connector.name=hive-hadoop2

# hive metastore ip address must be public ip.
hive.metastore.uri=thrift://{{ hiveMetastoreEndpoint }}

hive.allow-drop-table=true
hive.max-partitions-per-scan=1000000
hive.compression-codec=NONE

# s3 endpoint ip address must be public ip.
hive.s3.endpoint={{ s3Endpoint }}
hive.s3.path-style-access=true
hive.s3.ssl.enabled={{ s3SSLEnabled }}
hive.s3.max-connections=100
